<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                Cyfrowa Biblioteka
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/books' ? 'active' : '' %>" href="/books">Katalog Książek</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-book' ? 'active' : '' %>" href="/add-book">Dodaj książkę</a>
            </li>
        </ul>
    </nav>
</header>