<%- include('partials/head.ejs') %>
<%- include('partials/navigation.ejs') %>

<main>
    <h1>Strona nie została znaleziona!</h1>
    <p>Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
</main>

<%- include('partials/end.ejs') %>